* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: roboto;
}

.container {
  background-color: aquamarine;
}

footer {
  margin-top: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.linkedin,
.github,
.instagram,
.medium {
  width: 30px;
}
